@import url('https://fonts.googleapis.com/css2?family=Rambla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orienta&display=swap');

/* Home */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightblue;
}

header{
    width: 100%;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.logo_header{
    height: 100px;
    margin-top: 20px;
    margin-left: 18vw;
}

.links_header{
    margin-right: 16vw;
}

.link{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: #565656;
    text-decoration: none; 
    margin-left: 50px;
}

.container_banner{
    display: flex;
    align-items: center;
}

.btn_esq{
    position: absolute;
    width: 2.5vw;
    height: 13vh;
    margin-top: 50px;
    margin-right: 50px;
    background-color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 2.5vw;
}

.imagem_banner{
    width: 100vw;
    height: 89.7vh;
}

.btn_dir{
    position: absolute;
    width: 2.5vw;
    height: 13vh;
    margin-top: 50px;
    margin-left: 50px;
    background-color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 95vw;
}

button i{
    font-size: 24px;
}


/* Login */

.banner_login section{
    opacity: 0.9;
}

.banner_login{
    width: auto;
    height: 80vh;
    background-image: url(img/banner_login.png);   
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_form{
    width: 20vw;
    height: 45vh;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.5);
    border: black solid 1px;
    border-radius: 15px;
    box-shadow: grey 10px 10px 15px;
}

.container_form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo_login{
    font-family: 'Rambla', sans-serif;
    font-size: 42px;
}

.login_campo{
    width: 12vw;
    height: 4vh;
    margin-top: 5vh;
    border-radius: 3px;
    border: black solid 1px;
    background: rgba(255, 255, 255, 0.5);
    padding-left: 5px;
    padding-top: 1px;
}

::placeholder{
    color: black;
}

.btn_login{
    width: 6vw;
    height: 5vh;
    background: #006FAB;
    cursor: pointer;
    color: white;
    border: none;
    margin-top: 5vh;
    margin-bottom: 2vh;
    border-radius: 7px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    padding-bottom: 3px;
}

.btn_login:hover {
    background-color: #00E0FF;
    animation: ease;
    font-weight: 600;
    color: black;
    transition: ease 0.3s;
}

.cadastre_se{
    font-family: 'Orienta', sans-serif;
    font-size: 14px;
}

footer{
    width: auto;
    height: 12.2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
}

footer nav a{
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: black;
    margin-left: 2vw;
}

/* Cadastro de consulta e listagem do administrador */

.banner_cadastro section{
    opacity: 0.9;
}

.banner_cadastro{
    width: auto;
    height: 81vh;
    background-image: url(img/imagem2.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_form_cadastro{
    width: 28vw;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.5);
    border: white solid 1px;
    border-radius: 15px;
    box-shadow: grey 10px 10px 15px;
}

.container_form_cadastro form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo_cadastro{
    font-family: 'Rambla', sans-serif;
    font-size: 32px;
    margin-left: 1.5vw;
}

.barra_cadastro{
    width: 18vw;
    border: black solid 0.1px;
    margin-bottom: 2vh;
}

.form_pergunta{
    font-family: 'Orienta', sans-serif;
    font-size: 16px;
    color: black;
    margin-top: 3vh;  
    margin-bottom: 0.5vh; 
}

.input_dados{
    width: 18vw;
    height: 4vh;
    border-radius: 3px;
    border: black solid 1px;
    background: rgba(255, 255, 255, 0.5);
    padding-left: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

.input_dados_descricao{
    width: 18vw;
    height: 12vh;
    resize: none;
    border-radius: 3px;
    border: black solid 1px;
    background: rgba(255, 255, 255, 0.5);
    padding-left: 5px;
    padding-top: 0.9vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

.btn_cadastrar{
    width: 10vw;
    height: 5vh;
    background: #006FAB;
    cursor: pointer;
    color: white;
    border: none;
    margin-top: 5vh;
    border-radius: 7px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    padding-bottom: 3px;
    margin-left: 4vw;
}

.btn_cadastrar:hover{
    background-color: #00E0FF;
    animation: ease;
    font-weight: 600;
    color: black;
    transition:ease-in-out 0.3s;
}

/* Listar consultas */

.banner_listar_consulta{
    width: 100%;
    height: auto;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box_titulo_lista{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4vh;
}

.container_lista{
    width: 40vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: rgba(45, 45, 45, 0.7);
    border-radius: 5px;
    margin-bottom: 4vh;
}

.box_lista{
    display: flex;
    width: 40vw;
    height: 8vh;
    background-color: white;
    border-radius: 5px;
    border: black solid 1px;
    margin-bottom: 2vh;
    padding-left: 1vw;
}

.titulo_lista_consulta{
    font-family: 'Rambla', sans-serif;
    font-size: 32px;
    color: black;
}

.barra_lista_consulta{
    width: 18vw;
    border: black solid 0.1px;
    margin-bottom: 2vh;
}

.tabela_lista{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.box_lista_conteudo{
    display: flex;
    margin-top: 10px;
}

.tabela_lista td{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

.numero_Consulta{
    width: 5vw;
    height: 3vh;
    border: black solid 1px;
    border-radius: 15px;
    padding-left: 0.7vw;
    margin-top: 1vh;
}

.nome_paciente{
    color: black;
    padding-left: 2vw;
    font-weight: 500;
    margin-top: 1.3vh;
}

.data_consulta{
    padding-left: 5vw;
    margin-top: 1.2vh;
}

.btn_lista_detalhes{
    width: 8vw;
    height: 4vh;
    background-color: #006FAB;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
    margin-left: 5vw;
    margin-top: 0.7vh;
}

.btn_lista_detalhes:hover{
    background-color: #00E0FF;
    animation: ease;
    font-weight: 700;   
    color: black;
    transition:ease-in-out 0.3s;
}

footer{
    width: 100%;
    height: 10vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.atendimento{
    display: flex;
    flex-direction: column;
    margin-right: 5vw;
}

.atendimento a{
    font-weight: 600;
    color: black;
    text-decoration: none;
}

.fale_conosco{
    display: flex;
    flex-direction: column;
    margin-right: 5vw;
}

.fale_conosco a{
    font-weight: 600;
    color: black;
    text-decoration: none;
}

.copyright{
    font-weight: 600;
    margin-right: 5vw;
}

.redes_sociais{
    display: flex;
    flex-direction: column;
    margin-right: 5vw;
}

.logos_redes_sociais{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1vh;
}

.redes_sociais img{
    width: 2.2vw;
    height: 4vh;
    margin-left: 1vw;
}

/* Listar consultas paciente e médico */

.banner_listar_consulta_paciente{
    height: auto;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barra_lista_consulta_paciente{
    width: 14vw;
    border: black solid 0.1px;
    margin-bottom: 2vh;
}

.container_lista_paciente{
    width: 40vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: rgba(45, 45, 45, 0.7);
    border-radius: 5px;
    margin-bottom: 14vh;
}

.footer_listar{
    bottom: 0;
    position: fixed;
}

/* Descrição da Consulta - Paciente */

.container_descricao{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background: url(img/fundo_consulta_medico.png);
    padding-top: 5vh;
    padding-bottom: 6vh;
}

.box_descricao{
    width: 65vw;
    height: 70vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    margin-left: 4.9vw;
    margin-right: 3vw;
}

.box_consulta_voltar{
    display: flex;
}

.voltar_consulta{
    display: flex;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin-top: 5vh;
    margin-right: 20vw;
}

.voltar_consulta a{
    font-size: 18px;
    color: black;
    font-weight: 600;
    text-decoration: none;
    margin-left: 1vw;
}

.voltar_consulta i{
    font-size: 52px;
}

.titulo_consulta{
    font-family: 'Rambla', sans-serif;
    font-size: 42px;
    color: black;
    margin-top: 5vh;
    margin-right: 29vw;
}

.barra_consulta{
    width: 8.5vw;
    height: 1px;
    border-color: black;
    margin-right: 1.7vw;
}

.dados_descricao{
    display: flex;
    width: 55vw;
    height: 25vh;
    margin-top: 8vh;
}

.primeira_coluna_descricao{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fundo_dados{
    width: 25vw;
    height: 6vh;
    background: rgba(255, 255, 255, 0.3);
    border: black solid 1px;
    border-radius: 5px;
    margin-bottom: 6vh;
}

.descricao{
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding-top: 1.6vh;
    padding-left: 0.8vw;
}

.segunda_coluna_descricao{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6vh;
    margin-left: 4vw;
}

.fundo_dados_descricao{
    width: 25vw;
    height: 30vh;
    background: rgba(255, 255, 255, 0.3);
    border: black solid 1px;
    border-radius: 5px;
    margin-bottom: 6vh;
}

.descricao_consulta{
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding-top: 1.6vh;
    padding-left: 0.8vw;
    border-radius: 5px;
}

/* Descrição da Consulta - Médico  */

.descricao_consulta_text{
    width: 25vw;
    height: 30vh;
    display: inline-block;
    border: black solid 1px;
    background: rgba(255, 255, 255, 0.3);
    resize: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding-top: 1.6vh;
    padding-left: 0.8vw;
    border-radius: 5px; 
}

.btn_atualizar{
    width: 12vw;
    height: 5vh;
    border: none;
    border-radius: 5px;
    background-color: #006FAB;
    color: white;
    font-weight: 600;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    margin-top: 2vh;
    margin-left: 6vw;
}

.btn_atualizar:hover{
    background-color: #00E0FF;
    animation: ease;
    font-weight: 700;   
    color: black;
    transition:ease-in-out 0.3s;
}