@import url('https://fonts.googleapis.com/css2?family=Rambla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orienta&display=swap');

/* Home */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #B6F6FF;
}

header{
    width: auto;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.logo_header{
    margin-top: 20px;
    margin-left: 18vw;
}

.links_header{
    margin-right: 21vw;
}

.link{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: #565656;
    text-decoration: none; 
    margin-left: 50px;
}

.container_banner{
    display: flex;
    align-items: center;
}

.btn_esq{
    position: absolute;
    width: 2.5vw;
    height: 13vh;
    margin-top: 50px;
    margin-right: 50px;
    background-color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 2.5vw;
}

.imagem_banner{
    width: 100vw;
    height: 89.7vh;
}

.btn_dir{
    position: absolute;
    width: 2.5vw;
    height: 13vh;
    margin-top: 50px;
    margin-left: 50px;
    background-color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 95vw;
}

button i{
    font-size: 24px;
}


/* Login */

section{
    opacity: 0.9;
}

.banner_login{
    width: 100vw;
    height: 80vh;
    background-image: url(img/banner_login.png);   
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_form{
    width: 20vw;
    height: 45vh;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.5);
    border: black solid 1px;
    border-radius: 15px;
    box-shadow: grey 10px 10px 15px;
}

.container_form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo_login{
    font-family: 'Rambla', sans-serif;
    font-size: 42px;
}

.login_campo{
    width: 12vw;
    height: 4vh;
    margin-top: 5vh;
    border-radius: 3px;
    border: black solid 1px;
    background: rgba(255, 255, 255, 0.5);
}

::placeholder{
    padding-left: 10px;
    color: black;
}

.btn_login{
    width: 6vw;
    height: 5vh;
    background: #006FAB;
    cursor: pointer;
    color: white;
    border: none;
    margin-top: 5vh;
    margin-bottom: 2vh;
    border-radius: 7px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    padding-bottom: 3px;
}

.btn_login:hover {
    background-color: #00E0FF;
    animation: ease;
    font-weight: 600;
    color: black;
    transition: ease 0.3s;
}

.cadastre_se{
    font-family: 'Orienta', sans-serif;
    font-size: 14px;
}

footer{
    width: 100vw;
    height: 9.6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
}

footer nav a{
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: black;
    margin-left: 2vw;
}