@import url('https://fonts.googleapis.com/css2?family=Rambla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orienta&display=swap');

/* Home */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #B6F6FF;
}

header{
    width: auto;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.logo_header{
    height: 100px;
    margin-top: 20px;
    margin-left: 18vw;
}

.links_header{
    margin-right: 16vw;
}

.link{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: #565656;
    text-decoration: none; 
    margin-left: 50px;
}

.container_banner{
    display: flex;
    align-items: center;
}

.btn_esq{
    position: absolute;
    width: 2.5vw;
    height: 13vh;
    margin-top: 50px;
    margin-right: 50px;
    background-color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 2.5vw;
}

.imagem_banner{
    width: 100vw;
    height: 89.7vh;
}

.btn_dir{
    position: absolute;
    width: 2.5vw;
    height: 13vh;
    margin-top: 50px;
    margin-left: 50px;
    background-color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 95vw;
}

button i{
    font-size: 24px;
}


/* Login */

.banner_login section{
    opacity: 0.9;
}

.banner_login{
    width: auto;
    height: 80vh;
    background-image: url(img/banner_login.png);   
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_form{
    width: 20vw;
    height: 45vh;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.5);
    border: black solid 1px;
    border-radius: 15px;
    box-shadow: grey 10px 10px 15px;
}

.container_form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo_login{
    font-family: 'Rambla', sans-serif;
    font-size: 42px;
}

.login_campo{
    width: 12vw;
    height: 4vh;
    margin-top: 5vh;
    border-radius: 3px;
    border: black solid 1px;
    background: rgba(255, 255, 255, 0.5);
    padding-left: 5px;
    padding-top: 1px;
}

::placeholder{
    color: black;
}

.btn_login{
    width: 6vw;
    height: 5vh;
    background: #006FAB;
    cursor: pointer;
    color: white;
    border: none;
    margin-top: 5vh;
    margin-bottom: 2vh;
    border-radius: 7px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    padding-bottom: 3px;
}

.btn_login:hover {
    background-color: #00E0FF;
    animation: ease;
    font-weight: 600;
    color: black;
    transition: ease 0.3s;
}

.cadastre_se{
    font-family: 'Orienta', sans-serif;
    font-size: 14px;
}

footer{
    width: auto;
    height: 12.2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
}

footer nav a{
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: black;
    margin-left: 2vw;
}

/* Cadastro de consulta e listagem do administrador */

.banner_cadastro section{
    opacity: 0.9;
}

.banner_cadastro{
    width: auto;
    height: 80vh;
    background-image: url(img/imagem2.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_form_cadastro{
    width: 25vw;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.5);
    border: white solid 1px;
    border-radius: 15px;
    box-shadow: grey 10px 10px 15px;
}

.container_form_cadastro form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo_cadastro{
    font-family: 'Rambla', sans-serif;
    font-size: 32px;
}

.barra_cadastro{
    width: 18vw;
    border: black solid 0.1px;
    margin-bottom: 2vh;
}

.form_pergunta_nomeMedico{
    font-family: 'Orienta', sans-serif;
    font-size: 16px;
    color: black;
    margin-top: 3vh; 
    margin-right: 9.5vw;
}

.form_pergunta_nomePaciente{
    font-family: 'Orienta', sans-serif;
    font-size: 16px;
    color: black;
    margin-top: 3vh; 
    margin-right: 9vw;
}

.form_pergunta_situacao{
    font-family: 'Orienta', sans-serif;
    font-size: 16px;
    color: black;
    margin-top: 3vh; 
    margin-right: 13.7vw;
}

.form_pergunta_dataConsulta{
    font-family: 'Orienta', sans-serif;
    font-size: 16px;
    color: black;
    margin-top: 3vh; 
    margin-right: 9.7vw;
}

.input_dados{
    width: 18vw;
    height: 4vh;
    border-radius: 3px;
    border: black solid 1px;
    background: rgba(255, 255, 255, 0.5);
    padding-left: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

.btn_cadastrar{
    width: 10vw;
    height: 5vh;
    background: #006FAB;
    cursor: pointer;
    color: white;
    border: none;
    margin-top: 5vh;
    border-radius: 7px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    padding-bottom: 3px;
}

.btn_cadastrar:hover{
    background-color: #00E0FF;
    animation: ease;
    font-weight: 600;
    color: black;
    transition: ease 0.3s;
}

.divisao{
    width: 100%;
    height: 10vh;
    background: linear-gradient(to bottom, rgba(142,142,142,1) 0%, rgba(142,142,142,1) 5%, rgba(255,255,255,1) 95%, rgba(255,255,255,1) 20%);
}

/* Listar consultas */

.banner_listar_consulta{
    width: 99vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    background: no-repeat;
    background: url(img/banner_listar.png);
}